.login-container {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

    .login-container #vault {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 500%;
        letter-spacing: 30%;
        color: black;
    }


.login-card {
    width: 320px;
    padding: 30px 35px;
    background: #ffffff;
    border: 1px solid #111;
    box-shadow: 6px 6px 0 #111;
    font-family: "Arial", sans-serif;
}

    .login-card h2 {
        text-align: center;
        margin: 0 0 20px 0;
        font-size: clamp(14px,1.5vw,20px);
        letter-spacing: 2px;
    }

    .login-card label {
        display: block;
        font-size: clamp(8px,0.8vw,12px);
        font-weight: 600;
        margin: 0 0 2px 0;
        letter-spacing: 1px;
    }

    .login-card input[type="text"],
    .login-card input[type="password"],
    .login-card input[type="email"]{
        width: 100%;
        padding: 4px 10px;
        border: 1px solid #111;
        border-radius: 2px;
        font-size: 13px;
        outline: none;
        box-sizing: border-box;
    }

    .login-card input:focus {
        box-shadow: 0 0 0 1px #ff6b6b;
    }

    .login-card button {
        width: 100%;
        margin-top: 15px;
        padding: 9px 0;
        background: #ff6b6b;
        border: 1px solid #111;
        border-radius: 2px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

        .login-card button:hover {
            filter: brightness(0.95);
        }

#errorMsg {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #e53935;
}

.login-card p {
    margin-top: 18px;
    text-align: center;
    font-size: 12px;
}

.login-card a {
    color: #111;
    font-weight: 600;
    text-decoration: underline;
}

.login-card input::placeholder {
    color: #b3b3b3;
    opacity: 0.6;
}
