body {
    background: #FAF6E9;
}

.userfile-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

.userfile-card {
    width: 90%;
    max-width: 87%;
    background: #FFFDF6;
    padding: 25px 30px;
    border: 1px solid #111;
    box-shadow: 6px 6px 0 rgba(17, 17, 17, 0.6);
}

.userfile-card h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.userfile-card .btn {
    width: 8%;
    margin-top: 15px;
    padding: 9px 0;
    background: #ff6b6b;
    border: 1px solid #111;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.user-file input[type="file"] {
    width: 100%;
    padding: 4px 10px;
    border: 1px solid #111;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
    box-sizing: border-box;
    color:red;
}

.floating-btn {
    position: fixed;
    bottom: 60px;
    right: 50px;
    background: #ff6b6b;
    border: 1px solid #111;
    color: #fff;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 6px 6px 0 rgba(17, 17, 17, 0.6);
}

    .floating-btn:hover {
        filter: brightness(0.9);
    }

.floating-homebtn {
    position: fixed;
    bottom: 60px;
    right: 115px;
    background: #ff6b6b;
    border: 1px solid #111;
    color: #fff;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 6px 6px 0 rgba(17, 17, 17, 0.6);
}

    .floating-homebtn:hover {
        filter: brightness(0.9);
    }

.floating-profilebtn {
    position: fixed;
    bottom: 110px;
    right: 50px;
    background: #ff6b6b;
    border: 1px solid #111;
    color: #fff;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 6px 6px 0 rgba(17, 17, 17, 0.6);
}

    .floating-profilebtn:hover {
        filter: brightness(0.9);
    }