<link rel="stylesheet" href="~/css/userFileUpload.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="userfile-wrapper">
    <div class="userfile-card">

<h2>Upload File</h2>

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]');
        </script>
    }
}

<form asp-controller="fileInsert" asp-action="on_click" method="post" enctype="multipart/form-data">

    <div>
        <label>Select file(s)</label><br />
        <input type="file" name="files" multiple required />
    </div>
    <br />

    <button type="submit" class="btn">Upload</button>

</form>

        <form asp-controller="userHome" asp-action="Index" method="get">
            <button type="submit" class="floating-homebtn"> <i class="fa-jelly fa-regular fa-image"></i> </button>
        </form>

<form asp-controller="userLogin" asp-action="logout" method="get">
            <button type="submit" class="floating-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
</form>

    </div>
</div>